<div class="text-danger" *ngIf="control && control.errors && (control.dirty || control.touched)">
  <div *ngIf="control.errors.required"><small>This field is required.</small></div>
  <div *ngIf="control.errors.unique">
    <small>{{ control.errors.unique }}</small>
  </div>
  <div *ngIf="control.errors.minlength">
    <small>Minimum {{ control.errors.minlength.requiredLength }} characters required.</small>
  </div>
  <div *ngIf="control.errors.maxlength">
    <small>Maximum {{ control.errors.maxlength.requiredLength }} characters required.</small>
  </div>
  <div *ngIf="control.errors.greaterThan">
    <small>{{ control.errors.greaterThan }}</small>
  </div>
  <div *ngIf="control.errors.email">
    <small>A valid email needed.</small>
  </div>
  <!-- <div *ngIf="control.errors.mobile">
    <small>{{ control.errors.mobile }}</small>
  </div>
  <div *ngIf="control.errors.confirmPassword">
    <small>{{ control.errors.confirmPassword }}</small>
  </div> -->
</div>
